---
import MainLayout from '@/layouts/MainLayout.astro';
import HeroSection from '@/components/HeroSection.astro';
import AboutSection from '@/components/AboutSection.astro';
import FeaturePost from '@/components/FeaturePost.astro';
import GridPost from '@/components/GridPost.astro';
import ListingPost from '@/components/ListingPost.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts'
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>

	<HeroSection 
		hasButton={false}
		h1="Musings,"
		h2="writings"
		p1="Here are some things which I have been thinking about"/>
	<section class="container justify-center py-24">
		<div class="featured-posts">
			{
				posts.slice(0,4).map((post, index) => (
				<div>
					{
						index === 0 
						? <FeaturePost title={post.data.title} pubDate={post.data.pubDate} heroImage={post.data.heroImage} category={post.data.category} slug={post.slug}/>
						: <ListingPost title={post.data.title} pubDate={post.data.pubDate} excerpt={post.data.excerpt} heroImage={post.data.heroImage} category={post.data.category} slug={post.slug}/>
					}
				</div>
				))
			}
		</div>
	</section>

	<section class="container py-24">
		<div class="flex">
			<h2 class="text-5xl font-bold py-4">
				Recent Posts
			</h2>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
			{
				posts.slice(0,4).map((post, index) => (
				<div>
					<GridPost title={post.data.title} pubDate={post.data.pubDate} heroImage={post.data.heroImage} category={post.data.category} slug={post.slug}/>
				</div>
				))
			}
		</div>
	</section>

	<AboutSection
		hasButton={true}
		number="2"
		p1="I have a passion for creating beautiful, intuitive and functional websites and digital products. I have a strong focus on user experience and accessibility."
		p2="I am always looking for new opportunities to work with great people and companies."/>
</MainLayout>

<style>
	body{
		background: #fdfdfd;
	}
	.featured-posts{
		display: grid;
		/* background-color: aquamarine; */
		gap:2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
			"post1 post1 post2"
			"post1 post1 post3"
			"post1 post1 post4"
		;
	}
	@media only screen and (max-width: 1024px) {
		.featured-posts{
			display: flex;
			flex-direction: column;
		}
	}

	.featured-posts > div:nth-child(1){
		grid-area: post1;
	}
	.featured-posts > div:nth-child(2){
		grid-area: post2;
	}
	.featured-posts > div:nth-child(3){
		grid-area: post3;
	}
	.featured-posts > div:nth-child(4){
		grid-area: post4;
	}
</style>
