---
import MainLayout from "../layouts/MainLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ServicesComponent from "../components/ServicesComponent.astro";
import portfolioItems from "../../data/portfolio.json";
import PortfolioItem from "../components/PortfolioItem.astro";
import ContactButton from "../components/ContactButton";
import { Image } from 'astro:assets'

console.log("portfolioItems", `/images/${portfolioItems[0].client}/1.webp`)
---

<MainLayout title="shane davis | Web Developer" description="I create clean and functional websites and ecommerce sites for businesses and organisations">
  <HeroSection
    hasButton={false}
    h1="designer"
    h2="developer"
    p1="Get to know more about my approach, process, services and my way of working. Get in touch if you have any questions."/>

    <section>
        <div class="container py-24">
            <!-- photo of me -->
            <Image
            src='/images/webworkexample.webp'
            alt="hero"
            width="1920"
            height="880"
            class="w-full h-auto object-cover rounded-lg mt-8"/>
        </div>
    </section>

	<AboutSection 
		hasButton={false}
		number="1" 
		p1="Outstanding outcomes are achieved through websites that are user-friendly, present the desired content to the viewer, and provide a delightful experience. Through a careful analysis of your current status and a clear definition of your business objectives, we will create a website that is not only aesthetically pleasing but also effectively drives conversions." 
		p2=""/>

        <section>
            <div class="container pb-24 lg:pb-48">
                <div class="lg:grid grid-cols-12 grid-rows-2 gap-y-10">
                    <!-- row 1 -->
                    <div class="hidden lg:block col-start-5 col-span-1 font-medium">01.</div>
                    <div class="col-start-6 col-span-5">
                        <h3 class="font-medium pb-4">Defining the business goal and strategic direction</h3>
                        <p class="text-gray-500 font-medium mb-24 lg:mb-0">
                            Our journey begins with a clear understanding of our objectives. What's the primary aim of the website? How do we define success for this project in the context of your business? Where do you envision your business in the next three years? These are essential questions we will collaboratively explore to carve out the most effective strategy for your digital ambitions.
                        </p>
                    </div>
                    <!-- row 2 -->
                    <div class="hidden lg:block col-start-5 col-span-1 font-medium">02.</div>
                    <div class="col-start-6 col-span-5">
                        <h3 class="font-medium pb-4">Purposeful visual design and creative guidance.</h3>
                        <p class="text-gray-500 font-medium">
                            The website's visual aesthetic plays a pivotal role in how users engage with your product or service. Understanding the target audience and staying informed about industry trends are key factors in achieving optimal results for the website we will craft together.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container py-48">
                <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-8 lg:gap-0 py-12">
                    <h2 class="text-6xl lg:text-9xl font-bold capitalize">
                        services
                    </h2>
                    <div>
                        <ContactButton client:idle/>
                    </div>
                </div>
                <ServicesComponent />
            </div>
        </section>

        <AboutSection 
            hasButton={false}
            number="3" 
            p1="When not at my computer you will find me exploring with my dog Ava, working up a sweat at the gym, or reading on a beach somewhere." 
            p2=""/>

        <PortfolioItem
            client={portfolioItems[0].client}
            image={`/images/${portfolioItems[0].client}/1.webp`}
            description={portfolioItems[0].description}
            date={portfolioItems[0].date}/>

        <AboutSection 
            hasButton={true}
            number="4" 
            p1="As a web designer and full stack developer, I help businesses and organisations in engaging with their audience and expanding their operations." 
            p2="Projects can be done directly with clients or in a supporting"/>

</MainLayout>